img{
    width: 150px;
    height: 150px;
}
.inline1{
    display: inline-block;
    vertical-align: top;
}
.inline2{
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
    margin-top: 60px;
}
h5{
    font-weight: bolder;
}