<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Quoting Assignment</title>
</head>

<body>
    <div class="container col-8 text-align center">
        <h1 class="display-4">Here are some awesome quotes!</h1>
        <% for (var quote of quotes) { %>
        <ul class="list-group">
            <div class="quote">
                <li class="list-group-item"> "<%= quote.quote %>" </li>
            </div>
            <div class="info ml-5">
                <li class="list-group-item list-group-item-warning"><%= quote.name %> at <%= quote.createdAt %></li>
            </div>
        </ul>
        <% } %>
    </div>
</body>

</html>