<html>
<body>
    <a href="/cats/wiley"><img src="/images/1.jpg" alt=""></a>
    <a href="/cats/cuddles"><img src="/images/2.jpg" alt=""></a>
    <a href="/cats/angel"><img src="/images/3.jpg" alt=""></a>
</body>
</html>