<html>
<body>
    <% for (var cat of cats) { %>
    <h2>Details:  <%= cat.name %></h2>
        <h4>Name: <%= cat.name %></h4>
        <h4>Favorite Food: <%= cat.fav_food %></h4>
        <h4>Age: <%= cat.age %></h4>
        <hr>
    <% } %>
</body>
</html>