.box{
    height: 200px;
    width: 200px; 
    padding-top: 70px;
    border: solid black 2px;
}
.correct{
    background-color: rgb(47, 255, 123);
}
.wrong{
    background-color: rgb(218, 67, 67);
}
body{
    background-image: url(../static/img/questionmark.jpg);
}