<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Time Display Assignment</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'time_display_app/css/style.css' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div class="container col-12">
        <div class="img">   
            <div class="text">
                <h1>Ello gov'na</h1>
                <div class="mt-4">
                    <div class="time">
                        <h3>The current date and time is:</h3>
                        <h3>{{time}}</h3>
                    </div>
                </div>
                <div class="mt-4">
                    <h5>Thanks for stopping by, TaTa</h5>
                </div>
            </div>
        </div>
    </div>
</body>
</html>