body{
    background-color: black;
}
#title{
    font-size: 50px;
    text-align: center;
    color: whitesmoke;
    text-shadow: 5px 5px 8px rgb(245, 192, 77);
}
.jumbotron{
    border-radius: 7px;
    background-color: rgb(79, 64, 45);
}
.left, .right{
    display: inline-block;
    vertical-align: top;
    margin-left: 70px;
}
.lead, .display-4, p, .table{
    color: whitesmoke;
    padding-left: 10px;
}
.btn{
    color: whitesmoke;
}
.display-4{
    text-align: center;
}
.addBook{
    margin-left: 120px;
    margin-bottom: 20px;
}
.addAuthor{
    margin-left: 120px;
}
.center{
    text-align: center;
    padding-top: 30px;
}
.please{
    padding-left: 10px;
}
