<!DOCTYPE html>
<html>
<head>
<title>Playground</title>
<style>
body {
  width: 1000px;
  height: 1000px;
  background-color: pink;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80px;
    padding: 10px;
    margin-left: 450px;
    color: blueviolet
}
.box1 {
    background-color: lightskyblue;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin-left: 130px;
}
.leftbox{
    margin-left: 10px;
}
</style>
</head>
<body>

<h1>Welcome!</h1>
    <div class = "box1"></div>
        <div class="leftbox"></div>
    <div class = "box1"></div>
    <div class = "box1"></div>

</body>
</html>