<!DOCTYPE html>
<html lang="en">
<head>        
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body class ="container col-12" style="background-color: blue" align="center">
    <h1 style="font-size: 40px">Create an Account!</h1>
        <form action='/process' method='post'>
        <p style="font-size: 20px">Name: <input type='text' name='username'></p>
        <p style="font-size: 20px">Email: <input type='text' name='email'></p>
        <input type='submit' value='Submit'>
    </form>

</body>
</html>