<div class="container col-7">
    <button class="btn btn-primary mb-3 text-light" [routerLink]="['/read']">HOME</button>

    <div class="jumbotron jumbotron-fluid p-5">
            <h1 class="display-4 text-info">Create Author</h1>
            <form (submit)="createOneAuthor()">
                <p class="lead text-info">Name: <input class="form-control form-control-lg col-10" type="text" name="newAuthor.name"
                        [(ngModel)]="newAuthor.name"></p>
                <input id="submit" class="btn btn-success mr-2" type="submit" value="SUBMIT" />
                <button class="btn btn-danger" [routerLink]="['/read']">CANCEL</button>
            </form>
    </div>
</div>