.display_message{
    margin-left: 100px;
    width: 1000px;
}
.message_comment{
    margin-left: 80px;
}
.post{
    margin-left: 1015px;
}
.delete{
    margin-left: 895px;
}
.post2{
    margin-left: 830px;
}